.form__fieldset {
    border: 2px solid silver;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    background-color:#008080c9;
}

.form__legend {
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
}

.form__text {
    width: 100%;
    max-width: 200px;
    display: inline-block;
}

.form__result {
    width: 100%;
    max-width: 200px;
    display: inline-block;
}

.form__input {
    border: 2px solid silver;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

.form__button {
    background-color: silver;
    padding: 5px;
    margin: 10px 10px;
    width: 50%;
    border-radius: 10px;
}

.form__button:hover {
    background-color: rgb(168, 162, 162);
}
